<p>
  <label for="settings_git_local_path_default">Default Local Repository Path</label>
  <input type="text" style="padding-left:2px;"
                     id="settings_git_local_path_default"
                     value="<%= settings['git_local_path_default'] %>"
                     name="settings[git_local_path_default]" >
  <em class="info">Default Path, where repositories are created locally.</em>
</p>
<p>
  <label for="settings_git_remote_url_prefix_default">Default Remote Repository Url Prefix</label>
  <input type="text" style="padding-left:2px;"
                     id="settings_git_remote_url_prefix_default"
                     value="<%= settings['git_remote_url_prefix_default'] %>"
                     name="settings[git_remote_url_prefix_default]" >
  <em class="info">Default Prefix of the Remote Repository.</em>
</p>
